<div *ngIf="intro$ | async as intro">
  <header>
    <div id="banner-content" class="row clearfix">
      <div class="col-50">
        <div class="intro">
          <h1>{{ intro.tagline }}</h1>
          <h2>
            {{ intro.paragraph1 }} <br><br>
            {{ intro.paragraph2 }} <br><br>
            {{ intro.paragraph3 }} <br><br>
            {{ intro.paragraph4 }} <br><br>
            {{ intro.paragraph5 }} <br><br>
            {{ intro.paragraph6 }} <br><br>
          </h2>
        </div>
      </div>
    </div>
  </header>
</div>
<div *ngIf="header$ | async as header">
  <header>
    <div id="intro-section-content" class="intro-section-row clearfix">
      <div class="col-50">
        <div class="intro-section">
          <h1><a href="{{ header.url }}" target="_blank">
            {{ header.source }}
          </a></h1>
          <h2>
            {{ header.paragraph1 }} <br><br>
            {{ header.paragraph2 }} <br><br>
            {{ header.paragraph3 }} <br><br>
          </h2>
        </div>
      </div>
<!--      <div class="col-3-4">-->
        <h3>Neurodiversity Quotes</h3>
        <div *ngFor="let quote of quotes$ | async; let i = index">
          <app-quotes-block [quote]="quote"></app-quotes-block>
        </div>
<!--      </div>-->
    </div>
  </header>
</div>
