<div
  id="families"
  class="scrollto clearfix"
  *ngIf="families$ | async as families"
>
  <div id="banner-content" class="row clearfix">
    <!--Content Left Side-->
    <div class="col-2-3">
      <div class="section-heading">
        <h1>{{ families.header }}</h1>
        <p class="section-subtitle">{{ families.description }}</p>
      </div>

      <div *ngIf="familiesNeurodivergences$ | async as familiesNeurodivergences">
        <p><b>{{ familiesNeurodivergences.title }}</b></p>
        <p class="indent">{{ familiesNeurodivergences.numberlist1 }}</p>
        <p class="indent">{{ familiesNeurodivergences.numberlist2 }}</p>
        <p class="indent">{{ familiesNeurodivergences.numberlist3 }}</p>
        <p class="indent">{{ familiesNeurodivergences.numberlist4 }}</p>
        <p class="indent">{{ familiesNeurodivergences.numberlist5 }}</p>
        <p>{{ familiesNeurodivergences.conclusion }}</p>
      </div>
    </div>
    <!--End Content Left Side-->


    <div class="col-3" *ngIf="familyResources$">
      <h4 class="resources"><b>Resources</b></h4>
      <div *ngFor="let familyResource of familyResources$ | async; let i = index">
        <app-family-resources-block [familyResource]="familyResource"></app-family-resources-block>
      </div>
    </div>
  </div>
</div>
