<!--<div class="col-1 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">-->
<!--  &lt;!&ndash;Icon Block Description&ndash;&gt;-->
<!--  <div class="icon-block-description">-->
    <p><b>{{ employersNeurodivergence.title }}</b></p>
    <p class="indent">{{ employersNeurodivergence.numberlist1 }}</p>
    <p class="indent">{{ employersNeurodivergence.numberlist2 }}</p>
    <p class="indent">{{ employersNeurodivergence.numberlist3 }}</p>
    <p class="indent">{{ employersNeurodivergence.numberlist4 }}</p>
    <p class="indent">{{ employersNeurodivergence.numberlist5 }}</p>
    <p>{{ employersNeurodivergence.conclusion }}</p>
<!--  </div>-->
<!--</div>-->
