<div id="header" class="nav-collapse nav-solid">
  <div class="row clearfix">
    <div class="col-1">
      <!--Logo-->
      <div id="logo">
        <h1>Neurodivergent Central</h1>
      </div>
<!--      <div id="logo">-->
<!--        &lt;!&ndash;Logo that is shown on the banner&ndash;&gt;-->
<!--        <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page" />-->
<!--        &lt;!&ndash;End of Banner Logo&ndash;&gt;-->

<!--        &lt;!&ndash;The Logo that is shown on the sticky Navigation Bar&ndash;&gt;-->
<!--        <img-->
<!--          src="assets/images/logo-2.png"-->
<!--          id="navigation-logo"-->
<!--          alt="Landing Page"-->
<!--        />-->
<!--        &lt;!&ndash;End of Navigation Logo&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;End of Logo&ndash;&gt;-->

      <!-- <aside>
        <app-social></app-social>
      </aside> -->

      <!--Main Navigation-->
      <nav id="nav-main">
        <app-navmenu [menu]="menu" [menuOpen]="true"></app-navmenu>

      </nav>
      <!--End of Main Navigation-->

      <div id="nav-trigger">

        <span
          [class.open]="menuOpen == true"
          (click)="toggleMenu(!menuOpen)"
        ></span>
      </div>
      <nav id="nav-mobile">
        <app-navmenu
          [menu]="menu"
          *ngIf="menuOpen === true"
          (menuStatus)="toggleMenu($event)"
          [menuOpen]="menuOpen"
        ></app-navmenu>
      </nav>
    </div>
  </div>
</div>
<!--End of Header-->
